<article class="persInfo">
    <section>
        <h2>Hidde van der Plaat</h2>
        <p>Ik ben Hidde van der Plaat. Student aan Communication and Multimedia aan de Hogeschool van Amsterdam.
            Dit is mijn blog website voor de minor Web design & development</p>
    </section>
    <img class="idImg" src="Media/Img/MachuPichuTransparent.png" alt="Profielfoto">
</article>