<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>API</h2>
    <p>In dit vak gingen we werken met verschillende API's in een webapp. Ook moesten we een server-side gegenereerde
        applicatie bouwen. Ik had gekozen om met de MovieDatabase api een moviedatabase te bouwen. Ook staat hij online
        en heb ik ejs gebruikt.<br><br> Wat ik hiervan geleerd heb.
    <ul>
        <li>Het werken met api's</li>
        <li>Het server-side renderen van een webapp</li>

    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het een lastig vak. Ik heb het meeste al wel een keer gedaan maar het was allemaal een beetje weggezakt.
        Vooral het opzetten van een server vond ik lastig om zo te doen. Wel merk ik dat het nu heel makkelijk is voor
        mij om dit zo te doen. Ik heb dit bijvoorbeeld voor deze website ook gedaan en voor mijn portfolio website.
    </p>

    <a href="https://github.com/Hiddevdp/API-MovieDatabase">Link naar github repo</a>

</article>