<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Bramus van Damme en Miriam Suzanne</h2>
    <h2>Wat is er verteld?</h2>
    <p>Bij dit evenement waren er twee sprekers. De ene sprak over view transitions en de andere over containers.
    </p>

    <h2>View transitions</h2>
    <p>Bij het navigeren van de ene pagina naar de andere, kun je een overgang toevoegen met een animatie. Dit wordt
        gedaan door snapshots van de twee pagina's te gebruiken. Om dit te programmeren, gebruik je:</p>
    <pre><code>:root:;view-transition /*Overlay on top*/
        :;view-transition-group(root) /* Position + size*/
            :;view-transition-image-pair(root)
                ::view-transition-old(root)
                ;:view-transition-new(root)
        </code></pre>
    <p>Het resultaat ziet er dan bijvoorbeeld uit als: Cards</p>

    <h2>Containers</h2>
    <p>Hier werd uitgelegd wat containers zijn, zoals style containers en de @property. Omdat ik dit al geleerd had
        bij
        CSS, was dit niet nieuw voor mij.</p>

    <h2>Wat vind ik ervan?</h2>
    <ul>
        <li>Ik vond het onderwerp view transitions heel interessant, vooral de demo waarbij het ook bij een video
            kon.
            De URL verandert, maar hoe blijft de video dan mooi doorspelen? Hoe weet de volgende pagina waar de
            video
            gebleven was? Dat vraag ik me af.</li>
        <li>Het deel over containers vond ik minder interessant. Het eerste deel van haar presentatie vond ik
            moeilijk
            te begrijpen en het tweede deel wist ik al.</li>
    </ul>

    <h2>Wat ga ik ermee doen?</h2>
    <ul>
        <li>Ik zal de informatie over view transitions onthouden.</li>
        <li>Ook de informatie over containers kan nuttig zijn voor de toekomst. Ik heb eerder al @property en style
            containers gebruikt bij CSS.</li><br><br>
    </ul>



    <h3>Reflectie</h3>
    <p>
        Ik vond het best interessant om de twee sprekers te horen. Ze hadden een hele hoop leuke inzichten. De view
        transitions wil ik graag zelf ook gaan gebruiken en de container queries zien er ook heel handig uit. Ik werd
        zefls een beetje enthousiast over css door de sprekers. Ondanks dat ik best moe was zo aan het einde van de dag
        vond ik het het waard dat ik ben gegaan.
    </p>


</article>