<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>Browser Technologies</h2>
    <p>Voor dit vak was het de bedoeling dat we een formulier van de overheid gingen nabouwen voor het web. Door het op
        het web te doen kan je het toegankelijker maken dan in een pdf. Ook moesten we rekening houden met wat er
        gebeurd als bijvoorbeeld Javascript het niet doet. Of als er slecht internet is. Wat ik hiervan geleerd heb.
    <ul>
        <li>Het werken met forms in html</li>
        <li>Het werken met js maar dat het nog steeds werkt als js het niet doet</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Heel eerlijk vond ik dit een van de minder leuke vakken. Het werk was vrij saai en viel de hele tijd in
        herhaling. De meeste tijd was je kwijt aan het omzetten van de vragen in html. Uiteindelijk heb ik toch het idee
        dat ik ervan geleerd heb.
    </p>

    <a href="https://github.com/Hiddevdp/BrowserTechnologies">Link naar github repo</a>


</article>