<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>Css to the rescue</h2>
    <p>In dit vak gingen we de diepte in met css. We kregen de keuze uit verschillende onderwerpen. Ik koos voor het
        bouwen van een control panel. Het was daarbij de bedoeling dat je een control panel bouwde met knoppen en
        schuiven. Die dan iets aansturen.<br><br> Wat ik hiervan geleerd heb.
    <ul>
        <li>Het werken met :has en checkboxes/radio buttons</li>
        <li>Het werken met de schuif in js</li>
        <li>Meer 3d animaties</li>
        <li>Meer ervaring met css</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik zie mezelf al als best gevorderd in Css dus vond het leuk om daarin verder te gaan. Ik heb meer geleerd door
        mezelf uit te dagen dingen te bouwen die ik nog niet zo goed kende. Daar heb ik dus nog meer van geleerd over
        css.
    </p>

    <a href="https://github.com/Hiddevdp/CSSTTR">link naar github repo</a>


</article>