<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Danny Lammerhirt en Marieke Hoefsloot</h2>
    <p>ChatGPT Danny en Marit startten hun presentatie over de verschillende onderdelen van stacks met de volgende vier
        punten:<br><br>
    <ul>
        <li>Gebruiker</li>
        <li>Technologie</li>
        <li>Ontwerpproces</li>
        <li>Basis</li>
    </ul><br><br>

    De gebruiker moet altijd centraal staan. Bij technologie komen allerlei onverwachte aspecten kijken: dat is typerend
    voor tech. Het ontwerpproces kent verschillende methoden om een product te creëren.<br><br>

    Na hun presentatie gingen we over tot het doen van activiteiten. De eerste was een variatie op "over de streep,"
    waarbij je meningen moest kiezen uit vier verschillende vlakken. De onderwerpen waren bijvoorbeeld:<br><br>
    <ul>
        <li>Apple of Android?</li>
        <li>Ben je overgestapt?</li>
        <li>Denk je na over je systeemvoorkeuren?</li>
    </ul><br><br>

    Daarna schreef iedereen individueel op een blaadje welke waarden ze belangrijk vinden bij apps, systemen, appstores,
    etc. Tot slot moesten we in teams onze droomtelefoon ontwerpen met behulp van tegels met pictogrammen. Mijn groepje
    ontwierp een telefoon die belangrijk vond dat hij:<br><br>
    <ul>
        <li>Door de gebruiker zelf onderdelen kan worden vervangen</li>
        <li>Toegankelijk is</li>
        <li>Geen rommel bevat, niet snel oververhit raakt en niet te duur is</li>
        <li>Alle benodigde accessoires erbij heeft</li>
        <li>Enzovoort</li>
    </ul><br><br>
    <h3>Reflectie</h3>
    <p>
        Ik vond dit een van de slechtste weekly nerds. Zelf had ik het idee dat het totaal niet aansloot tot onze minor
        en dat het voor hen eigenlijk alleen belangrijk was om wat testresultaten te krijgen.
    </p>


</article>