<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Fenna de Wilde</h2>
    <p>Fenna de Wilde noemt zichzelf een creative developer. Ze heeft aan verschillende projecten gewerkt en staat
        vooral voor toegankelijkheid binnen projecten. Ze geeft aan dat hier nog te weinig aan gedacht wordt maar het
        heel belangrijk is. Ze heeft daarna een aantal toegankelijkheidsdingen besproken<br><br> Deze dingen waren:
    <ul>
        <li>Focus state voor keyboards (:focus visible)</li>
        <li>Area attributes -> roles</li>
        <li>toegankelijke carousels -> Role: region</li>
        <li>Aria controlls</li>
        <li>Aria expanded</li>
        <li>Aria live (off, polite of assertive)</li>
        <li>Aria atomic (true, false)</li>
        <li>Focus guards</li>
        <li>Kleurcontrast -> figma tool, lighthouse audit</li>
        <li>fontsize (min 16px)</li>
        <li>Regellengte -> 50-75 tekens -> CH unit gebruiken (max-width: 60ch;)</li>
        <li>alt tekst</li>
        <li>Skip to content button</li>
        <li>Reduced motion optie</li>
        <li>Autoplay optie om uit te zetten</li>
        <li>Screenreader testen</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Heel eerlijk heb ik het gevoel dat we op CMD heel veel toegankelijkheid al meekrijgen in de verschillende
        vakken. Daarom dat de meeste van deze dingen al bekend zijn bij mij. Ik doe er veel ook al automatisch daarom
        dat ik niet zoveel interesse heb in meer leren over toegankelijkheid. Wel ben ik van mening dat dit heel
        belangrijk is voor het web. Ik ben benieuwd hoe ik daar in het bedrijfsleven anders in sta dan mijn collegas.
        Misschien dat ik zelfs net als Fenna moet strijden om deze toegankelijke functies in projecten te hebben.
    </p>


</article>