<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Weekly Nerd gesprek 2</h2>
    <h3>Meesterproef leerdoelen</h3>
    <p>
        Voor de meesterproef wil ik graag beter om leren gaan met Javascript. Ik heb al in eerdere vakken
        meer ervaring opgedaan. Dat wil ik graag uitbreiden. Ik werk daarom graag samen met mensen die deze
        ervaring hebben zodat ik daarvan kan leren. Ook wil ik beter leren plannen. Als laatste wil ik de
        ervaring te werken voor een echte opdrachtgever om zo beter te leren hoe het gaat in het
        bedrijfsleven als developer.

    </p>


</article>