<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Weekly Nerd gesprek 1</h2>
    <h3>Reflectie</h3>
    <p>
        Ik merkte bij mijn korte stage dat ik achterbleef, vooral op het gebied van javascript. Ik wil dus bij de minor
        ervaring
        opdoen met verschillende technieken zodat ik zelfverzekerd aan mijn lange stage kan beginnen na de zomer. Ook
        wil ik
        graag mooie techdingen maken om aan mijn portfolio toe te voegen.

    </p>


</article>