<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>Hackaton</h2>
    <p>Met de Hackaton was het de bedoeling dat we een website gingen bouwen met de info uit een gekregen json met info
        van de css days. We hebben gekozen om een wereldkaart te maken van de landen waar van elk jaar de sprekers
        vandaan kwamen.<br><br> Wat ik hiervan geleerd heb.
    <ul>
        <li>Meer ervaring met JS</li>
        <li>Meer werken met info uit een json</li>
        <li>Werken met github in een team</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het leuk om te werken met een team en zo samen tot een mooi eindresultaat te komen. Helaas was het wel
        zo dat de dingen die ik gebouwd had uiteindelijk niet goed werkte met de rest van het project. Ik had
        bijvoorbeeld gemaakt dat je kon zoomen en scrollen/grabben in de kaart. Dit werkte in geen enkele manier met de
        rest van de code dus hebben we het helaas moeten schrappen. Verder heb ik wat kleine dingen gedaan, zo kon je
        als je een spreker open hebt staan buiten het veld klikken om het te sluiten. Ik heb veel geleerd van deze
        hackaton.
    </p>
    <a href="https://github.com/xiaonanpols21/css-day-hackaton">Link naar github repo</a>


</article>