<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>Human Centered Design</h2>
    <p>Voor dit vak moesten we een oplossing bedenken en uitwerken voor een probleem van een specifieke gebruiker. Dit
        waren gebruikers met bepaalde handicaps. We werden allemaal bij een persoon ingedeeld. Ik werd bij Marie
        ingedeeld, en zij is doof. Ze houdt van series kijken maar loopt ertegenaan dat de closed captions vaak slecht
        zijn. Ze geven minimaal de teksten weer en van de sfeer krijg je al helemaal niets mee als je doof bent. Aan ons
        de uitdaging om hier iets mee te doen.<br><br>

        wat ik hiervan geleerd heb.
    <ul>
        <li>Designen voor een persoon met een handicap</li>
        <li>Doormiddel van testen itereren</li>
        <li>Het werken van JS in een video</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Op het begin zag ik een beetje op tegen dit vak. Ik heb altijd al een beetje een hekel gehad aan een lang
        designproces en wil meestal gewoon meteen aan de slag met coderen. Toch vond ik het na wat tijd heel interessant
        worden om voor zo een speciaal persoon te designen. Vooral omdat je je helemaal moet verplaatsen in deze persoon
        je je dingen beseft die je eerst nooit bedacht had. Ik liep op het begin een beetje stroef en had niet echt
        goede ideeen. Ik wilde graag de achtergrondmuziek aanpakken aangezien dat door de meeste niet gedaan werd. Dit
        vond ik juist de grote uitdaging. Mijn uiteindelijke idee was om de achtergrond van de pagina waar de video
        afspeelde een animatie te geven van een bepaald soort weer dat een emotie afspiegeld. Blijheid is zon, regen is
        verdriet, storm is woede etc. Het leuke was dat Marie daar uiteindelijk ook erg enthousiast van werd aangezien
        ze veel beter de sfeer meekreeg van het geluid. Uiteindelijk was het dus toch een heel interessant vak.
    </p>

    <a href="https://github.com/Hiddevdp/HCD">Link naar github repo</a>


</article>