<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Jeffrey Arts</h2>
    <p>Jeffrey arts is naar eigen zeggen een kunstenaar die werkt met development. Hij doet zowel front-end als
        back-end. En hij gebruikt code om kunstwerken te bouwen.<br><br>

        Development = creativity<br><br>

        Achtergrond Front end<br><br>

        Kunstenaar<br><br>

        Front-end en back-end<br><br>


        Deployment<br><br>

        localhost<br><br>

        server<br><br>

        Toolbox Workflow<br><br>

        om terug te gaan naar het punt waarvoor je iets hebt stukgemaakt<br><br>

        https://gsap.com/<br><br>

        Wel cool hoe je met Development kunst kan maken<br><br>

        Creeer je eigen ecosysteem ( localhost to web in 5 minutes voorbeeld)<br><br>
        Stick to core technologies<br><br>
        Create tools that support personal workflow ( Toolbox )<br><br>

        Kritiek op development<br><br>

        Development != efficiency / costs<br><br>

    </p>
    <h3>Reflectie</h3>
    <p>
        In het begin had ik een beetje mijn vraagtekens over waar de weekly nerd precies over ging. Uiteindelijk bleek
        dat hij
        samen met programmeren kunstwerken maakt en die dan bouwt in de vorm van schilderijen en beelden. Hij bleek niet
        goed te
        weten wat onze kennis was en waar wij mee bezig waren. Hij had wel wat interessante punten, hij vond namelijk
        dat
        creativiteit meer aandacht zou moeten krijgen in development. Ook had hij het over een “toolbox” waar hij eerder
        gemaakte tools makkelijk kon kopiëren naar nieuwe projecten om zo tijd te besparen. Het is toch interessant om
        de andere
        aspecten van het vak te zien, maar uiteindelijk kreeg ik toch heel erg het idee dat hij graag wilde spreken voor
        ons om
        zo meer bekendheid te krijgen als kunstenaar.
    </p>


</article>