<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Jeremy Keith</h2>
    <p>Classical approach is very detailed and Jazz approach is very simple<br><br>


        Imperative programming -> exactly tell the pc what to do<br><br>

        Declarative programming -> just specify the output<br><br>

        SQL = SELECT, WHERE, FROM etc.<br><br>

        dont care how. Just want result<br><br>

        Html is declarative
        Css also declarative. every line is a suggestion
        Javascript is imperative.<br><br>

        With declarative it’s possible to make mistakes and the browser will just ignore it.
        With imperative the whole code will fail if there’s a mistake.<br><br>

        Imperative and declarative mindset<br><br>

        Button -> js approach uses a lot of code (imperative). Html is just declaring a button (declarative)<br><br>

        “Javascript should only do what only javascript can do”<br><br>

        It’s mostly about Control<br><br>

        font-size: 1rem / 16px<br><br>

        calc(0.5rem + 0.666vw) to adjust it to the users screen size<br><br>

        padding-left / padding-inline-start works in other languages as well<br><br>

        clamp(
        1rem,
        0.5rem + 0.666vw,
        1.5rem
        );<br><br>

        Utopia.fyi voor meer uitleg
        Declarative > imperative ?
        It depends.<br><br>

        on what?<br><br>

        Culture
        Management<br><br>

        Design system is the way we do things<br><br>

        “the border should be 10% lighter than the background color”<br><br>

    </p>
    <h3>Reflectie</h3>
    <p>
        Weer een interessante weekly nerd. Vooral om het verschil uitgelegd te zien over imperative en declarative. Heel
        goed ook om bij jezelf stil te staan wat voor soort programeur je bent.
        Ik denk zelf dat ik een declarative programeur ben.
    </p>


</article>