<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Kilian Valkhof</h2>
    <p>Kilian Valkhof werkt aan de developer vriendelijke browser Polypane. Hij is een
        voorstander van het
        gebruik van CSS boven bijvoorbeeld Javascript. Dit doet hij aan de hand van de "rule of
        least
        power". Dit houdt in dat je het beste de "least powerfull" programeertaal kan gebruiken.
        Hij heeft vooral uitleg gegeven over de verschillende dingen die mogelijk zijn met
        alleen Css waar
        veel developers nog Javascript voor gebruiken. Dit is niet gewenst omdat Javascript meet
        processing
        power vraagt.<br><br> Deze dingen waren:
    <ul>
        <li>Custom toggles</li>
        <li>Datalists</li>
        <li>Colorpickers</li>
        <li>In-Page transitions</li>
        <li>Smooth scrolling</li>
        <li>Carousels</li>
        <li>Accordions and models</li>
        <li>Dialogs</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Doordat ik zelf nog weinig weet van Javascript ga ik altijd eerst op zoek naar een
        oplossing met
        alleen Html en Css, pas als dit niet blijkt te kunnen met deze talen ga ik kijken naar
        Javascript.
        Ik vond dit dus een interessante weekly nerd om naar te luisteren.
    </p>


</article>