<article class="projectInfo">
    <h2>Meesterproef</h2>
    <p>
        Voor de meesterproef wil ik graag beter om leren gaan met Javascript. Ik heb al in eerdere vakken
        meer ervaring opgedaan. Dat wil ik graag uitbreiden. Ik werk daarom graag samen met mensen die deze
        ervaring hebben zodat ik daarvan kan leren. Ook wil ik beter leren plannen. Als laatste wil ik de
        ervaring te werken voor een echte opdrachtgever om zo beter te leren hoe het gaat in het
        bedrijfsleven als developer.

    </p>

    <h3>Reflectie</h3>
    <p>
        Ik vond de meesterproef heel leuk. Ik vond dat ik een leuk groepje had en dat we ook professioneel konden zijn.
        Op het begin vond ik de samenwerking met Mark van de OBA stroef. Vooral omdat hij niet zo goed wist wat hij
        wilde qua design. Hij gaf wisselend feedback en dingen die wij goed vonden vond hij weer niet goed, terwijl wij
        wisten dat onze oplossing beter was. Na feedback van Tamara hebben we wat tests gedaan en met de resultaten
        daarvan was Mark het met ons eens. Ook gaf Mark ons in de laatste weken nog een lijst met dingen die hij graag
        zou willen waarop wij teruggemaild hebben met wat we nog konden doen en wat we niet konden doen omdat er gewoon
        niet genoeg tijd was. Hij kwam daar in het eindgesprek ook op terug dat dit heel goed van ons is geweest om een
        grens aan te geven. Al met al vond ik het een hele leuke uitdaging om te werken voor een echte opdrachtgever en
        heb hier heel veel van geleerd.
    </p>
</article>