<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="project" href="nerds/kilian-valkhof">
                <hgroup>
                    <h2>Kilian Valkhof</h2>
                    <p>Stop using JS for that.</p>
                </hgroup>
                <img src="../media/kilianValkhof.png" alt="kilian valkhof">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/fenna-de-wilde">
                <hgroup>
                    <h2>Fenna de Wilde</h2>
                    <p>Accessibility</p>
                </hgroup>
                <img src="../media/fennaDeWilde.png" alt="fenna De Wilde">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/jeffrey-arts">
                <hgroup>
                    <h2>Jeffrey Arts</h2>
                    <p>Creating art with coding.</p>
                </hgroup><img src="../media/jeffreyArts.png" alt="jeffrey Arts">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/nils-binder">
                <hgroup>
                    <h2>Nils Binder</h2>
                    <p>Units and techniques</p>
                </hgroup>
                <img src="../media/nilsBinder.png" alt="nils Binder">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/jeremy-keith">
                <hgroup>
                    <h2>Jeremy Keith</h2>
                    <p>Different types of programming.</p>
                </hgroup>
                <img src="../media/jeremyKeith.png" alt="jeremy Keith">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/pim-teeuwisse-en-marieke-de-hoop">
                <hgroup>
                    <h2>Pim Teeuwisse en Marieke de Hoop</h2>
                    <p>Accessibility</p>
                </hgroup>
                <img src="../media/pimTeeuwisseEnMariekeDeHoop.png" alt="pim Teeuwisse En Marieke De Hoop">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/rosa-schuurmans">
                <hgroup>
                    <h2>Rosa Schuurman</h2>
                    <p>Creative Coding</p>
                </hgroup>
                <img src="../media/rosaSchuurmans.jpg" alt="rosa Schuurman">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/robert-spier">
                <hgroup>
                    <h2>Robert Spier</h2>
                    <p>Wat na je studie?</p>
                </hgroup>
                <img src="../media/robertSpier.png" alt="robert Spier">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/q42">
                <hgroup>
                    <h2>Q42</h2>
                    <p>Development Company</p>
                </hgroup>
                <img src="../media/Q42.png" alt="Q42">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/danny-lammerhirt-en-marit-hoefsloot">
                <hgroup>
                    <h2>Danny Lammerhirt en Marit Hoefsloot</h2>
                    <p>Mobile ecosystems and the public stack</p>
                </hgroup>
                <img src="../media/MaritHoefslootenDannyLammerhirt.png" alt="Marit Hoefsloot en Danny Lammerhirt">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/bramus-van-damme-en-miriam-suzanne">
                <hgroup>
                    <h2>Brammus van damme en Miriam Suzanne</h2>
                    <p>View Transitions & Container Queries</p>
                </hgroup>
                <img src="../media/BramusVanDammeenMiriamSuzanne.png" alt="Bramus Van Damme en Miriam Suzanne">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/gesprek-1">
                <hgroup>
                    <h2>Weekly Nerd gesprek 1</h2>
                </hgroup>
                <img src="../media/minor.jpg" alt="minor">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/gesprek-2">
                <hgroup>
                    <h2>Weekly Nerd gesprek 2</h2>

                </hgroup>
                <img src="../media/minor.jpg" alt="minor">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="nerds/gesprek-3">
                <hgroup>
                    <h2>Weekly Nerd gesprek 3</h2>

                </hgroup>
                <img src="../media/minor.jpg" alt="minor">
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>