<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Nils Binder</h2>
    <p>9Elements<br><br>

        Communication Design
        Product development
        Banking apps
        Web development
        Small to medium sized websites<br><br>


        Veel overlap van de verschillende units<br><br>

        Wrapper element
        max-width for the content
        Padding
        centers the content<br><br>

        oude manier<br><br>

        {
        max width: 75rem
        margin: 0 auto
        padding: 0 1.5rem
        }<br><br>

        Nieuwe manier<br><br>

        {
        width: min(100% - 3rem, 75rem)
        margin-inline: auto
        }<br><br>

        Why do we use so much whitespace ?<br><br>

        Optional column technique
        grid-template-columns: 2fr 3fr auto 1fr;<br><br>

    </p>
    <h3>Reflectie</h3>
    <p>
        Nils had voor mij een interessante weekly nerd. Hij had het veel over verschillende manieren om css te
        gebruiken. Zelf had ik lang het idee dat er gewoon een beste manier bestaat om je styling te doen met css maar
        blijkbaar bestaan daar ook verschillende meningen over tussen professionals. Ik vond het leuk om te zien hoe het
        anders kan. Ook vond ik het goed dat hij veel css liet zien zodat we precies konden zien hoe het gebruikt wordt
        wat hij zegt.
    </p>


</article>