<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Pim en Marieke van Digitaal toegankelijk</h2>
    <p>Accessibility<br><br>


        tijdelijke beperkingen
        filmpje zonder geluid kijken met captions
        buiten studeren met zonlicht op je scherm
        pols gebroken en geen muis kunnen gebruiken<br><br>

        Permanente beperkingen
        Doof
        blind
        adhd
        medicatie<br><br>

        “Sluit ik hier mensen mee buiten?” is een goede vraag om jezelf te stellen bij het ontwerpen.<br><br>

        Wat is digitale toegankelijkheid ?<br><br>

        WCAG
        web content accessibility guidelines<br><br>

        50 criteria
        4 hoofdonderwerpen
        “the big four”<br><br>

        perceivable
        operable
        understandable
        robust

        audio control
        geluid langer dan 3s moet gepauzeerd/gestopt kunnen worden, of verlaagd in volume.<br><br>
        no keyboard trap
        Je kan niet vast komen te zitten met het tabben door een website.<br><br>
        pause,stop,hide
        elementen die, automatisch starten, langer dan 5 sec duren en parallel aan andere content getoond worden. moet
        gepauzeerd, gestopt of verstopt kunnen worden.<br><br>
        three flashes or below threshold
        geen element mag 3 keer of meer binnen een seconde flitsen.
        <br><br> Tips. Stel jezelf deze vragen.
    <ul>
        <li>kan de content door iedereen waargenomen worden ? (perceivable)</li>
        <li>kan de content door iedereen bereikt en gebruikt worden ? (operable)</li>
        <li>Kan deze content door iedereen begrepen worden ? (understandable)</li>
        <li>Is de techniek achter je digitale product semantisch opgebouwd ? (Robust)</li>
        <li>Gebruik eens een screenreader! (windows NVDA)</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Weer een nerd over toegankelijkheid. Nog steeds vind ik het belangrijk dat hieraan gedacht wordt. Ook vond ik
        het interessant dat er een bedrijf bestaat die zich hiermee bezighoudt voor andere bedrijven. Maar zoals eerder
        gezegd vind ik dat we al veel meekrijgen van toegankelijkheid en dat het nu een beetje teveel wordt aangeboden.
    </p>


</article>