<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Q42</h2>
    <p>Q42 is een tech bedrijf in Amsterdam en wij zijn uitgenodigd om te komen kijken bij hun kantoor. Er zijn ook
        verschillende presentaties gegeven van werknemers en waar zij aan gewerkt hebben:
    <ul>
        <li>Sensemath: grafieken vormgegeven doormiddel van geluid voor blinden</li>
        <li>Appt.org: Het toegankelijk maken van websites</li>
        <li>Oculi mundi: Een 3d website waar een kunstverzameling werd getoont</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het zelf al heel leuk om een tech bedrijf binnen te zien. Ik heb natuurlijk al stagegelopen maar dit was
        wel wat anders dan mijn stagebedrijf. Er was bijvoorbeeld een glijbaan. Ook vond ik het heel interessant om te
        zien waar mensen nu mee bezig waren tijdens het werken. Iets dat ik ook voor mijn eigen toekomst interessant
        vind om te zien. Q42 zou dus ook een bedrijf kunnen zijn waar ik graag zou willen werken.
    </p>


</article>