<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Robert Spier</h2>
    <p>Robert is een oud student en docent van CMD(heb zelf ook les van hem gehad). Nu werkt hij als creative
        technologist bij Deloitte. Hij had het vooral over wat er gebeurt nadat je klaar bent met CMD. Wat voor banen
        gaan afgestudeerden doen en hoe werkt het bedrijfsleven. <br><br> Eerst wat kwaliteiten die hij zelf bezit.
    <ul>
        <li>html,css,js</li>
        <li>vite en svelte</li>
        <li>angular, some net/nodejs azure</li>
        <li>several api's</li>
    </ul><br>
    Landschap<br><br>

    Whats different 2017 vs 2025<br><br>

    inflation
    job roles
    flexibility
    culture<br><br>

    Learn fundamentals
    remain curious
    stay informed
    enjoy discovering<br><br>


    The money<br><br>

    De Sfeer<br><br>

    Immateriele erkenning<br><br>

    Discuss benefits with classmates
    do your own research
    its okay to say no<br><br>

    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het denk ik een van de meest interessante nerds. Vooral omdat hij onderwerpen aankaarte die wij als
        studenten eigenlijk nooit eerder besproken hebben. Ik had zelf het idee dat ook omdat Robert zelf student is
        geweest niet heel lang geleden hij ook vond dat we dit te weinig meekrijgen. Ook door zijn ervaring als docent
        maar ook als werknemer bij een groot bedrijf kan hij hier goede inzichten in geven. Heel helder vond ik het ook
        dat hij het had over wat voor loon je kon verwachten. Ook iets dat ik nog nooit op de opleiding geleerd heb. Ik
        vond het een hele goede weekly nerd en heb er zeker een hoop van geleerd.
    </p>


</article>