<a class="backLink" href="/nerds">Terug naar nerds</a>

<article class="projectInfo">
    <h2>Rosa Schuurman</h2>
    <p>Rosa legde uit hoe circuit bending werkt: ze demonteert apparaten en herbouwt ze met extra functies.
        Bijvoorbeeld, bij
        een kinderpiano kun je wat bedrading veranderen of water toevoegen om nieuwe geluiden te creëren.<br><br>

        Dit principe kan ook op het web worden toegepast, bijvoorbeeld door de inspecteur in je browser te gebruiken. Ze
        toonde
        enkele codevoorbeelden en software die je kunt gebruiken om geluiden aan je website toe te voegen.
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het leuk om te zien hoe verschillende mensen te werk gaan met coding. Alleen had ik het idee dat het
        voor mij niet heel veel invloed had. Ik ken de inspector ook al en gebruik deze vaak.
    </p>


</article>