<section class="vakken">

    <a href="/">
        <hgroup>
            <h2>Webapps From Scratch</h2>
        </hgroup>
        <img src="./Media/Img/WAFS.png" alt="Web apps from scratch screenshot">

    </a>


    <a href="">
        <hgroup>
            <h2>Browser Technologies</h2>
        </hgroup>
        <img src="./Media/Img/BT.png" alt="Browser technologies screenshot">

    </a>

    <a href="">
        <hgroup>
            <h2>Css To The Rescue</h2>
        </hgroup><img src="./Media/Img/CSS.png" alt="Css to the rescue screenshot">

    </a>

    <a href="">
        <hgroup>
            <h2>Hackaton</h2>
        </hgroup>
        <img src="./Media/Img/Hackaton.png" alt="Hackaton screenshot">

    </a>

    <a href="">
        <hgroup>
            <h2>API</h2>
        </hgroup>
        <img src="./Media/Img/API.png" alt="Api screenshot">

    </a>

    <a href="">
        <hgroup>
            <h2>Human Centered Design</h2>
        </hgroup>
        <img src="./Media/Img/HCD.png" alt="Human centered design screenshot">

    </a>

</section>