<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="project" href="/vakken/webapps-from-scratch">
                <hgroup>
                    <h2>Webapps From Scratch</h2>
                    <p>Het bouwen van een webapp zonder libraries of frameworks</p>
                </hgroup>
                <img src="../media/WAFS.png" alt="wafs">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/vakken/browser-technologies">
                <hgroup>
                    <h2>Browser Technologies</h2>
                    <p>Designen en coderen met progressive enhancement</p>
                </hgroup>
                <img src="../media/BT.png" alt="3D Robot gemaakt in blender">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/vakken/css-to-the-rescue">
                <hgroup>
                    <h2>CSS To The Rescue</h2>
                    <p>Bouw een website met vooral css</p>
                </hgroup><img src="../media/CSS.png" alt="Dunkin' Donuts Website Front end Development">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/vakken/hackaton">
                <hgroup>
                    <h2>Hackaton</h2>
                    <p>Een weekproject voor css day</p>
                </hgroup>
                <img src="../media/Hackaton.png" alt="Battle arena javascript game project">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="vakken/api">
                <hgroup>
                    <h2>API</h2>
                    <p>Een website met verschillende api's</p>
                </hgroup>
                <img src="../media/API.png" alt="Webapps from scratch screenshot">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="vakken/human-centered-design">
                <hgroup>
                    <h2>Human Centered Design</h2>
                    <p>Design een oplossing voor een specifieke gebruiker</p>
                </hgroup>
                <img src="../media/HCD.png" alt="Internetstandaarden Blade Runner website">
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>