<a class="backLink" href="/vakken">Terug naar vakken</a>

<article class="projectInfo">
    <h2>Webapps form scratch</h2>
    <p>Voor dit vak moesten we individueel en in een team een website bouwen die informatie uit kon lezen van een json
        file. De teamwebsite zou dan vanuit je individuele site info uitlezen. <br><br> Dingen die ik hiervan geleerd
        heb.
    <ul>
        <li>Het uitlezen en in html zetten van info uit een json file</li>
        <li>3d animations in css</li>
    </ul>
    </p>
    <h3>Reflectie</h3>
    <p>
        Ik vond het een heel leuk vak om de minor mee te beginnen. Ook was het een goede manier om mijn klasgenoten te
        leren kennen doordat er een teamgedeelte was. Nog steeds ben ik trots op de eindresultaten.
    </p>

    <a href="https://github.com/Hiddevdp/web-app-from-scratch-2324">Link naar github repo</a>


</article>