<section class="vakken">
    <ul class="wnList">
        <li>
            <a href="#">
                <hgroup>
                    <h2>Kilian Valkhof</h2>
                </hgroup>
                <img src="./Media/Img/kilianValkhof.png" alt="Kilian Valkhof">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Kilian Valkhof werkt aan de developer vriendelijke browser Polypane. Hij is een
                        voorstander van het
                        gebruik van CSS boven bijvoorbeeld Javascript. Dit doet hij aan de hand van de "rule of
                        least
                        power". Dit houdt in dat je het beste de "leas powerfull" programeertaal kan gebruiken.
                        Hij heeft vooral uitleg gegeven over de verschillende dingen die mogelijk zijn met
                        alleen Css waar
                        veel developers nog Javascript voor gebruiken. Dit is niet gewenst omdat Javascript meet
                        processing
                        power vraagt.<br><br> Deze dingen waren:
                    <ul>
                        <li>Custom toggles</li>
                        <li>Datalists</li>
                        <li>Colorpickers</li>
                        <li>In-Page transitions</li>
                        <li>Smooth scrolling</li>
                        <li>Carousels</li>
                        <li>Accordions and models</li>
                        <li>Dialogs</li>
                    </ul>
                    </p>
                    <h3>Reflectie</h3>
                    <p>
                        Doordat ik zelf nog weinig weet van Javascript ga ik altijd eerst op zoek naar een
                        oplossing met
                        alleen Html en Css, pas als dit niet blijkt te kunnen met deze talen ga ik kijken naar
                        Javascript.
                        Ik vond dit dus een interessante weekly nerd om naar te luisteren.
                    </p>
                </section>
            </a>

        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Fenna De Wilde</h2>
                </hgroup>
                <img src="./Media/Img/fennaDeWilde.png" alt="Fenna De Wilde">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Jeffrey Arts</h2>
                </hgroup><img src="./Media/Img/jeffreyArts.png" alt="Jeffrey Arts">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Nils Binder</h2>
                </hgroup>
                <img src="./Media/Img/nilsBinder.png" alt="Nils Binder">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Jeremy Keith</h2>
                </hgroup>
                <img src="./Media/Img/jeremyKeith.png" alt="Jeremy Keith">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Pim Teeuwisse en Marieke De Hoop</h2>
                </hgroup>
                <img src="./Media/Img/pimTeeuwisseEnMariekeDeHoop.png" alt="Pim Teeuwisse en Marieke De Hoop">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Rosa Schuurmans</h2>
                </hgroup>
                <img src="./Media/Img/rosaSchuurmans.jpg" alt="Rosa Schuurmans">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <hgroup>
                    <h2>Robert Spier</h2>
                </hgroup>
                <img src="./Media/Img/robertSpier.png" alt="Robert Spier">
                <section>
                    <h3>Samenvatting weekly nerd</h3>
                    <p>Deze weekly nerd ging over...</p>
                    <h3>Reflectie</h3>
                    <p>
                        Ik vond deze leuk want...
                    </p>
                </section>
            </a>
        </li>
    </ul>
</section>