/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font styles */
body {
  background-color: rgb(53, 53, 53);
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

header {
  /* position: fixed; */
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(44, 44, 44), rgba(255, 255, 255, 0));
}

nav ul {
  display: flex;
  color: white;
}

nav ul li {
  color: white;
  list-style: none;
  transition: 0.2s;

  &:hover {
    scale: 1.2;
  }
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  &:hover {
    animation: rainbow 2s infinite;
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

h1 {
  color: white;

  &:hover {
    animation: rainbow 2s infinite;
  }
}

h3,
h2,
p,
ul {
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  color: white;
  width: 80%;
  padding: 2em;
  border-radius: 1em;
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: black 6px 6px 1em;
}

.persInfo {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  height: 15em;
  position: relative;
}

.persInfo img {
  position: absolute;
  bottom: 0;
}

.persInfo section {
  grid-area: 1/1;
}

.idImg {
  height: 18em;
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: -1em;
  transition: 0.5s;
}
article:hover img {
  height: 19em;
}

.vakken {
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  margin: 10em 0 0 0;
}

.vakken > a {
  text-decoration: none;
  border-radius: 1em;
  width: 25em;
  height: 25em;
  margin: 1em;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  cursor: pointer;
  box-shadow: black 6px 6px 1em;
  position: absolute;

  &:first-of-type {
    left: calc((100% - 125px) / 7 * 1 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 1 - 12.5em);
    z-index: 7;
  }

  &:nth-of-type(2) {
    left: calc((100% - 125px) / 7 * 2 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 2 - 12.5em);
    z-index: 6;
  }

  &:nth-of-type(3) {
    left: calc((100% - 125px) / 7 * 3 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 3 - 12.5em);
    z-index: 5;
  }

  &:nth-of-type(4) {
    left: calc((100% - 125px) / 7 * 4 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 4 - 12.5em);
    z-index: 4;
  }

  &:nth-of-type(5) {
    left: calc((100% - 125px) / 7 * 5 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 5 - 12.5em);
    z-index: 3;
  }

  &:nth-of-type(6) {
    left: calc((100% - 125px) / 7 * 6 - 12.5em);
    bottom: calc((100% - 125px) / 7 * 6 - 12.5em);
    z-index: 2;
  }
}

hgroup {
  position: absolute;
  top: 0;
  color: white;
  padding: 0.5em 1em;
  /* background-color: rgba(0, 0, 0, 0.582); */
  background-image: linear-gradient(
    rgba(32, 32, 32, 0.596) 30%,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  width: 100%;
}

.vakken > a:hover,
.vakken > a:focus {
  transform: scale(1.05) translateX(15em);
  box-shadow: black 1px 1px 1em;
}

.vakken > a:hover img {
  transform: scale(0.9);
}

.vakken > a > img {
  height: 30em;
  transition: 0.5s;
  align-self: center;
}

.wnList > li {
  &:first-of-type {
    background-color: rgb(165, 165, 0);
  }
  &:nth-of-type(2) {
    background-color: rgb(0, 0, 114);
  }
  &:nth-of-type(3) {
    background-color: rgb(102, 0, 20);
  }
  &:nth-of-type(4) {
    background-color: rgb(0, 59, 0);
  }
  &:nth-of-type(5) {
    background-color: rgb(136, 0, 68);
  }
  &:nth-of-type(6) {
    background-color: rgb(54, 0, 54);
  }
  &:nth-of-type(7) {
    background-color: rgb(119, 32, 0);
  }
  &:nth-of-type(8) {
    background-color: rgb(0, 54, 54);
  }
}

footer {
  color: white;
  /* background-color: rgb(8, 8, 8); */
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

footer p {
  font-size: 1em;
}
