/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font styles */
body {
  background-color: rgb(53, 53, 53);
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

header {
  /* position: fixed; */
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(44, 44, 44), rgba(255, 255, 255, 0));
}

nav ul {
  display: flex;
  color: white;
}

nav ul li {
  color: white;
  list-style: none;
  transition: 0.2s;

  &:hover {
    scale: 1.2;
  }
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  &:hover {
    animation: rainbow 2s infinite;
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

h1 {
  color: white;

  &:hover {
    animation: rainbow 2s infinite;
  }
}

h3,
h2,
p,
ul {
  margin-bottom: 1em;
}

main {
  margin-top: 7em;
}

article {
  color: white;
  width: 80%;
  padding: 2em;
  border-radius: 1em;
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: black 6px 6px 1em;
}

.persInfo {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  height: 15em;
  position: relative;
}

.persInfo img {
  position: absolute;
  bottom: 0;
}

.persInfo section {
  grid-area: 1/1;
}

.idImg {
  height: 18em;
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: -1em;
  transition: 0.5s;
}
article:hover img {
  height: 19em;
}

.vakken {
  display: flex;
  justify-content: center;
}

.vakken > ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.vakken > ul > li {
  text-decoration: none;
  border-radius: 1em;
  width: 25em;
  height: 25em;
  margin: 1em;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  cursor: pointer;
  box-shadow: black 6px 6px 1em;
}

.vakken > ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.vakken > ul > li > a > section {
  margin: 3em 1em 1em 1em;
  transition: 0.5s;
  width: 62em;
}

.vakken > ul > li > a > section > ul {
  margin: 0 1em;
}

hgroup {
  position: absolute;
  top: 0;
  color: white;
  padding: 0.5em 1em;
  /* background-color: rgba(0, 0, 0, 0.582); */
  background-image: linear-gradient(
    rgba(32, 32, 32, 0.596) 30%,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  width: 100%;
}

.vakken > ul > li:hover {
  transform: scale(1.05);
  box-shadow: black 1px 1px 1em;
}

.vakken > ul > li:active {
  transition: 0.2s;
  transform: scale(1);
}

.vakken > ul > li:hover img {
  transform: scale(0.9);
}

.vakken > ul > li > a > img {
  height: 30em;
  transition: 0.5s;
  align-self: center;
  margin-left: 64em;
}

.vakken > ul > li.clicked {
  width: 100%;
  height: auto;
  flex: 1 1 auto;
  order: 0;
}

.vakken > ul > li.clicked section {
  display: block;
}

.vakken > ul > li.clicked > a > img {
  height: 15em;
  margin: 3em 1em 1em 1em;
  align-self: flex-start;
}

.wnList > li {
  &:first-of-type {
    background-color: yellow;
  }
  &:nth-of-type(2) {
    background-color: blue;
  }
  &:nth-of-type(3) {
    background-color: crimson;
  }
  &:nth-of-type(4) {
    background-color: green;
  }
  &:nth-of-type(5) {
    background-color: hotpink;
  }
  &:nth-of-type(6) {
    background-color: purple;
  }
  &:nth-of-type(7) {
    background-color: orangered;
  }
  &:nth-of-type(8) {
    background-color: teal;
  }
}

footer {
  color: white;
  /* background-color: rgb(8, 8, 8); */
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

footer p {
  font-size: 1em;
}
